body {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTnGcOrM-w-yNwzIZGgDm_c-cC34dsluPvmqH12v6uJgOJ_UIgQ);
    background-repeat: no-repeat;
    background-size: cover;
}